body{
    /* background: url(../peminjaman_buku/background/bg9.jpg); */
    background-size: cover;
    background-attachment: fixed;
    /* backdrop-filter: blur(3px); */
    background: linear-gradient(120deg,
        #4B56D2,
        #00ffff
    );
}
.judul{
    background: url(../../background/bg10.jpg);
    background-size: contain;
    /* background-attachment: fixed; */
}